<%= render(partial: "bar") %>
<div class="col-md-8 col-md-offset-2">



<table class="table table-hover">
  <thead>
    <tr>
      <td>订单编号</td>
      <td>创建时间</td>
      <td>订单种类</td>
      <td>订单金额</td>
      <td>订单状态</td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |o| %>
     <tr>
       <td><%= o.id %></td>
       <td><%= o.created_at.strftime("%m月%d日%H时%M分") %></td>
       <td><%= o.plan %></td>
       <td><%= o.money %></td>
       <% if o.aasm_state == "order_placed" %>
       <td><%= link_to("待付款", pay_order_path(o.token)) %></td>
       <% elsif o.aasm_state == "paid" %>
       <td>已付款</td>
       <% else %>
       <td>已完成</td>
       <% end %>
     </tr>
        <% end %>
  </tbody>
</table>



</div>
