<%= render "common/service_progress_bar" %>

<input type="hidden" id="refresh1" value="no">
<!-- <div id="notice"></div> -->

<div class="container" style="text-align:center;">
	<i style="font-size:25px">后台改写简历</i>

<br><br>

<% if @resume.resume_html.present? && @resume.resume_html.content.present? %>
<div id="froala-editor1">
	<div id="cv1"><!-- for visual effect add class "instaFade" -->
		<%= @resume.resume_html.content.html_safe %>
	</div>
</div>
<% else %>
<%= render partial: "resume_content", locals: { resume: @resume } %>
<% end %>

<br><br><br>

<div class="group">
  <%= link_to("发送第一修改确认信", admin_user_resume_notify_user_edit_one_done_path(@user,resume_id: @resume.id), method: :post, class: "btn btn-primary") %>
</div>

<div class="container">
  <% if @resume.aasm_state == "submit_one" %>
		<%= link_to "#", class: "btn btn-primary pull-center", id: "save" do %>
			<i class="fa fa-save"></i>&nbsp;保存专家修改一
		<% end %>

	<% elsif @resume.aasm_state == "edit_one" %>
		<%= link_to "#", class: "btn btn-primary disabled pull-center" do %>
			<i class="fa fa-save"></i>&nbsp;已完成第一轮反馈
		<% end %>

	<% elsif @resume.aasm_state == "submit_two" %>
	  <%= link_to "#", class: "btn btn-primary pull-center", id: "save" do %>
	    <i class="fa fa-save"></i>&nbsp;保存专家修改二
	  <% end %>

	<% elsif @resume.aasm_state == "edit_two" %>
		<%= link_to "#", class: "btn btn-primary disabled pull-center" do %>
			<i class="fa fa-save"></i>&nbsp;已完成第二轮反馈
		<% end %>

  <% end %>

</div>

</div>

<br><br><br><br><br><br>


<script type="text/javascript">

	$(document).ready(function(e) {
		var $input = $('#refresh1');
		$input.val() == 'yes' ? location.reload(true) : $input.val('yes');
	});



	$('#print').click(function(event) {
		event.preventDefault();
		$.ajax({
			url: '<%= user_resume_relay_path(@resume) %>',
			type: 'post',
			data: { content: $('#cv1').html() }
		});
		return false;
	});

	$('#save').click(function(event) {
		event.preventDefault();
		$.ajax({
			url: '<%= admin_user_resume_save_html_path(@user,@resume) %>',
			type: 'post',
			data: { content: $('#cv1').html() },
			success: function(result){
				$('#cv1').html(result);
      		// 加入提示的特效
      		// $("#notice").html("<%= flash[:notice] %>");
      	}
      });
		window.location.reload(); // must refresh page to see status change of button and progress bar
		return false;
	});


	$(document).ready(function() {
		// $('div#froala-editor').froalaEditor({
		// 	toolbarInline: true,
		// 	charCounterCount: false,
		// 	toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'undo', 'redo'],
		// 	toolbarVisibleWithoutSelection: false,

	    $('div#froala-editor1')
	      .on('froalaEditor.initialized', function (e, editor) {
	        editor.events.bindClick($('body'), 'a#get-text', function () {
	          editor.html.set('');
	          editor.events.focus();
	        });
	      })
	      .froalaEditor({

					// heightMin: 200,
					// heightMax: 1600,
					// widthMin: 800,
					// widthMax: 800,

					imageUploadParam: 'image_content',

		        // Set the image upload URL.
		        imageUploadURL: '<%= upload_image_user_resumes_path %>.json',

		        // Additional upload params.
		        imageUploadParams: {resume_id: '<%= @resume.id %>', 'authenticity_token': $( 'meta[name="csrf-token"]' ).attr( 'content' )},

		        // Set request type.
		        imageUploadMethod: 'POST',

		        // Set max image size to 5MB.
		        imageMaxSize: 5 * 1024 * 1024,

		        // Allow to upload PNG and JPG.
		        imageAllowedTypes: ['jpeg', 'jpg', 'png']})
	  });

</script>
