<body class="editorbg">

<input type="hidden" id="refresh" value="no">
<div id="notice"></div>

<%= render "common/service_progress_bar" %>

<div class="container" style="text-align:center;">
	<i style="font-size:25px">欢迎使用导师简历辅导服务<br>
		请修改好第一版建立后，点击最下方【提交】给导师修改
	</i>

<br><br>

<% if @resume.resume_html.present? && @resume.resume_html.content.present? %>
<div id="froala-editor">
	<div id="cv"><!-- for visual effect add class "instaFade" -->
		<%= @resume.resume_html.content.html_safe %>
	</div>
</div>
<% else %>
<%= render partial: "resume_content", locals: { resume: @resume } %>
<% end %>

<br><br><br>

<div class="container">

	<% if @resume.aasm_state == "ordered" %>
		<%= link_to "#", class: "btn btn-primary pull-center", id: "save_ordered", method: :post do %>
			<i class="fa fa-save"></i>&nbsp;首次提交导师修改
		<% end %>

	<% elsif @resume.aasm_state == "submit_one" %>
		<%= link_to "#", class: "btn btn-primary disabled pull-center" do %>
			<i class="fa fa-save"></i>&nbsp;等待导师首次反馈
		<% end %>

	<% elsif @resume.aasm_state == "edit_one" %>
	  <%= link_to "#", class: "btn btn-primary pull-center", id: "save_edit_one",method: :post do %>
	    <i class="fa fa-save"></i>&nbsp;二次提交导师修改
	  <% end %>

	<% elsif @resume.aasm_state == "submit_two" %>
		<%= link_to "#", class: "btn btn-primary disabled pull-center" do %>
			<i class="fa fa-save"></i>&nbsp;等待导师二次反馈
		<% end %>

	<% elsif @resume.aasm_state == "edit_two" %>
		<%= link_to "#", class: "btn btn-primary pull-center", id: "save_edit_two", method: :post do %>
			<i class="fa fa-save"></i>&nbsp;完成简历
		<% end %>

  <% end %>

	<%= link_to "#", class: "btn btn-primary pull-center", id: "print" do %>
		<i class="fa fa-cloud-download"></i>&nbsp;下载PDF格式
	<% end %>

</div>

</div>

<br><br><br><br><br><br>

</body>

<script type="text/javascript">

	$(document).ready(function(e) {
		var $input = $('#refresh');
		$input.val() == 'yes' ? location.reload(true) : $input.val('yes');
	});



	$('#print').click(function(event) {
		event.preventDefault();
		$.ajax({
			url: '<%= user_resume_relay_path(@resume) %>',
			type: 'post',
			data: { content: $('#cv').html() }
		});
		return false;
	});
// 用户三部完成简历的ajax
	$('#save_ordered').click(function(event) {

		$.ajax({
			url: '<%= user_resume_first_submit_path(@resume) %>',
			type: 'post',
			data: { content: $('#cv').html() },
			success: function(result){
				$('#cv').html(result);
      		// 加入提示的特效
      		// $("#notice").html("<%= flash[:notice] %>");
      	}
      });
		return false;
	});


	$('#save_edit_one').click(function(event) {

		$.ajax({
			url: '<%= user_resume_second_submit_path(@resume) %>',
			type: 'post',
			data: { content: $('#cv').html() },
			success: function(result){
				$('#cv').html(result);
					// 加入提示的特效
					// $("#notice").html("<%= flash[:notice] %>");
				}
			});
		return false;
	});

	$('#save_edit_two').click(function(event) {

		$.ajax({
			url: '<%= user_resume_complete_resume_path(@resume) %>',
			type: 'post',
			data: { content: $('#cv').html() },
			success: function(result){
				$('#cv').html(result);
					// 加入提示的特效
					// $("#notice").html("<%= flash[:notice] %>");
				}
			});
		return false;
	});
// 用户三部完成简历的ajax

	$(function() {
		// $('div#froala-editor').froalaEditor({
		// 	toolbarInline: true,
		// 	charCounterCount: false,
		// 	toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'undo', 'redo'],
		// 	toolbarVisibleWithoutSelection: false,

	    $('div#froala-editor')
	      .on('froalaEditor.initialized', function (e, editor) {
	        editor.events.bindClick($('body'), 'a#get-text', function () {
	          editor.html.set('');
	          editor.events.focus();
	        });
	      })
	      .froalaEditor({

					// heightMin: 200,
					// heightMax: 1600,
					// widthMin: 800,
					// widthMax: 800,

					imageUploadParam: 'image_content',

		        // Set the image upload URL.
		        imageUploadURL: '<%= upload_image_user_resumes_path %>.json',

		        // Additional upload params.
		        imageUploadParams: {resume_id: '<%= @resume.id %>', 'authenticity_token': $( 'meta[name="csrf-token"]' ).attr( 'content' )},

		        // Set request type.
		        imageUploadMethod: 'POST',

		        // Set max image size to 5MB.
		        imageMaxSize: 5 * 1024 * 1024,

		        // Allow to upload PNG and JPG.
		        imageAllowedTypes: ['jpeg', 'jpg', 'png']})
	  });

</script>
