<body class="resumeindexbg">
	<div class="container">
	<div class="col-md-12">
	  <!-- 一个resume模型 -->
	    <div class="row">
	      <div class="col-md-3 col-sm-6 col-xs-12">
					<div class="product-item">
						<div class="pi-img-wrapper">

							<%= link_to image_tag("https://www.materialui.co/materialIcons/content/add_circle_outline_grey_192x192.png", class:"img-responsive", width: "235px", height: "235px"),new_user_resume_path%>

	        		<div>
								<%= link_to('新建简历',new_user_resume_path ,:class => 'btn') %>
							</div>
						</div>
					</div>
				</div>
     <!-- 标准简历模板 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					 <div class="product-item">
						 <div class="pi-img-wrapper">
							 <%= image_tag "sampleresume.jpg", class: "img-responsive" %>
							 <div>
								 <%= link_to "进入",user_standard_resume_path, class:"btn" %>
							 </div>
						 </div>
						 <h3 style="text-align: center;">新生大学全栈营</h3>
						 <div class="pi-price">标注简历模板</div>
					 </div>
				 </div>
     <!-- 标准简历模板结束 -->
	      <% current_user.resumes.each do |resume| %>
					<% if resume.resume_html.present? %>
				    <div class="col-md-3 col-sm-6 col-xs-12">
							 <div class="product-item">
								 <div class="pi-img-wrapper">
									 <!-- <img src="" class="img-responsive" alt="ResumeHere"> -->
									 <%= image_tag "sampleresume.jpg", class: "img-responsive" %>
									 <div>
										 <%= link_to "编辑", user_resume_preview_path(resume), class:"btn" %>
										 <!-- <a href="#" class="btn">编辑</a> -->
										 <!-- <a href="#" class="btn">View</a> -->
									 </div>
								 </div>
								 <h3><%= resume.resume_name %></h3>
								 <div class="pi-price">更新于：<%= resume.created_at.strftime("%m/%e, %l:%M %p") %></div>
								 <!-- <a href="javascript:;" class="btn add2cart">Add to cart</a> -->
							 </div>
						</div>
					 <% end %>
				 </div>
	      <% end %>
	    </div>
	  <!-- template_v1 -->
	</div>
</div>
</body>
