
<div class="col-md-12">
  <!-- 一个resume模型 -->
    <div class="row">
      <div class="col-xs-6 col-lg-3" style="height: 450px">
        <%= link_to image_tag("https://www.materialui.co/materialIcons/content/add_circle_outline_grey_192x192.png",width: "235px", height: "235px"),page1_user_resumes_path %>
        <%= link_to '新建简历',page1_user_resumes_path ,:class => 'btn btn-primary' %>

      </div>
      <% current_user.resumes.each do |resume| %>
        <div class="col-xs-3 col-lg-3" style="height: 450px">
          <% if resume.present? %>
            <%= link_to image_tag("http://ww2.sinaimg.cn/large/006tNc79gw1fayh3rn700j30dw0dwmyp.jpg",width: "235px", height: "235px"), user_resume_preview_path(resume) %>
            <%= link_to "预览并编辑", user_resume_preview_path(resume), class: "btn btn-primary" %>

            <%= link_to "下载简历", user_resumes_pdf_path , class: "btn btn-primary"%>
            <% end %>

        <h3> <br > <%= resume.created_at.strftime("%F %H:%M") %> </h3>
        </div>
      <% end %>

    </div>
  <!-- template_v1 -->
</div>
