<div class="col-md-12">
<%= link_to '新建简历',new_user_resume_path ,:class => 'btn btn-primary btn-lg' %>



  <% @resumes.each do |resume| %>
  <div class="row">
    <div class="col-md-1"><%= resume.answer00 %></div>
    <div class="col-md-1"><%= resume.answer01 %></div>
    <div class="col-md-1"><%= resume.answer02 %></div>
    <div class="col-md-1"><%= resume.answer03 %></div>
    <div class="col-md-1"><%= resume.answer04 %></div>
    <div class="col-md-1"><%= resume.answer05 %></div>
    <div class="col-md-1"><%= resume.answer06 %></div>
    <div class="col-md-1"><%= resume.answer07 %></div>
    <div class="col-md-1"><%= resume.answer08 %></div>
    <div class="col-md-1"><%= resume.answer09 %></div>
    <div class="col-md-1"><%= resume.answer10 %></div>
    <div class="col-md-1"><%= resume.answer11 %></div>
    <div class="col-md-1"><%= resume.answer12 %></div>
    <div class="col-md-1"><%= resume.answer13 %></div>
    <div class="col-md-1"><%= resume.answer14 %></div>
    <div class="col-md-1"><%= resume.answer15 %></div>
    <div class="col-md-1"><%= resume.answer16 %></div>
    <div class="col-md-1"><%= resume.answer17 %></div>
    <div class="col-md-1"><%= resume.answer18 %></div>
    <div class="col-md-1"><%= resume.answer19 %></div>
    <div class="col-md-1"><%= resume.answer20 %></div>
    <div class="col-md-1"><%= resume.answer21 %></div>
    <div class="col-md-1"><%= resume.answer22 %></div>
    <div class="col-md-1"><%= resume.answer23 %></div>
    <div class="col-md-1"><%= resume.answer24 %></div>
    <div class="col-md-1"><%= resume.answer25 %></div>
    <div class="col-md-1"><%= resume.answer26 %></div>
    <div class="col-md-1"><%= resume.answer27 %></div>
    <div class="col-md-1"><%= resume.answer28 %></div>
    <div class="col-md-1"><%= resume.answer29 %></div>
    <div class="col-md-1"><%= resume.answer30 %></div>
    <div class="col-md-1"><%= resume.answer31 %></div>
    <div class="col-md-1"><%= resume.answer32 %></div>
    <div class="col-md-1"><%= resume.answer33 %></div>
    <div class="col-md-1"><%= resume.answer34 %></div>
    <div class="col-md-1"><%= resume.answer35 %></div>
    <div class="col-md-1"><%= resume.answer36 %></div>
    <div class="col-md-1"><%= resume.answer37 %></div>
    <div class="col-md-1"><%= resume.answer38 %></div>
    <div class="col-md-1"><%= resume.answer39 %></div>
    <div class="col-md-1"><%= resume.answer30 %></div>
    <div class="col-md-1"><%= resume.answer41 %></div>
    <div class="col-md-1"><%= resume.answer42 %></div>
    <div class="col-md-1"><%= resume.answer43 %></div>
    <div class="col-md-1"><%= resume.answer44 %></div>
    <div class="col-md-1"><%= resume.answer45 %></div>
    <div class="col-md-1"><%= resume.answer46 %></div>
    <div class="col-md-1"><%= resume.answer47 %></div>
    <div class="col-md-1"><%= resume.answer48 %></div>
    <div class="col-md-1"><%= resume.answer49 %></div>
  </div>
  <hr>
  <p>一个简历结束</p>
  <hr>
  <% end %>
  

</div>