<div class="col-md-12">
  
  <%= simple_form_for  [:user, @resume] do |r| %>


  <!-- 50个input点 -->
  <div class="form-group">
      <%= r.input :answer00, label: '问题00',input_html: { class: "form-control"} %>
      <%= r.input :answer01, label: '问题01',input_html: { class: "form-control"} %>
      <%= r.input :answer02, label: '问题02',input_html: { class: "form-control"} %>
      <%= r.input :answer03, label: '问题03',input_html: { class: "form-control"} %>
      <%= r.input :answer04, label: '问题04',input_html: { class: "form-control"} %>
      <%= r.input :answer05, label: '问题05',input_html: { class: "form-control"} %>
      <%= r.input :answer06, label: '问题06',input_html: { class: "form-control"} %>
      <%= r.input :answer07, label: '问题07',input_html: { class: "form-control"} %>
      <%= r.input :answer08, label: '问题08',input_html: { class: "form-control"} %>
      <%= r.input :answer09, label: '问题09',input_html: { class: "form-control"} %>
      <%= r.input :answer10, label: '问题10',input_html: { class: "form-control"} %>
      <%= r.input :answer11, label: '问题11',input_html: { class: "form-control"} %>
      <%= r.input :answer12, label: '问题12',input_html: { class: "form-control"} %>
      <%= r.input :answer13, label: '问题13',input_html: { class: "form-control"} %>
      <%= r.input :answer14, label: '问题14',input_html: { class: "form-control"} %>
      <%= r.input :answer15, label: '问题15',input_html: { class: "form-control"} %>
      <%= r.input :answer16, label: '问题16',input_html: { class: "form-control"} %>
      <%= r.input :answer17, label: '问题17',input_html: { class: "form-control"} %>
      <%= r.input :answer18, label: '问题18',input_html: { class: "form-control"} %>
      <%= r.input :answer19, label: '问题19',input_html: { class: "form-control"} %>
      <%= r.input :answer20, label: '问题20',input_html: { class: "form-control"} %>
      <%= r.input :answer21, label: '问题21',input_html: { class: "form-control"} %>
      <%= r.input :answer22, label: '问题22',input_html: { class: "form-control"} %>
      <%= r.input :answer23, label: '问题23',input_html: { class: "form-control"} %>
      <%= r.input :answer24, label: '问题24',input_html: { class: "form-control"} %>
      <%= r.input :answer25, label: '问题25',input_html: { class: "form-control"} %>
      <%= r.input :answer26, label: '问题26',input_html: { class: "form-control"} %>
      <%= r.input :answer27, label: '问题27',input_html: { class: "form-control"} %>
      <%= r.input :answer28, label: '问题28',input_html: { class: "form-control"} %>
      <%= r.input :answer29, label: '问题29',input_html: { class: "form-control"} %>
      <%= r.input :answer30, label: '问题30',input_html: { class: "form-control"} %>
      <%= r.input :answer31, label: '问题31',input_html: { class: "form-control"} %>
      <%= r.input :answer32, label: '问题32',input_html: { class: "form-control"} %>
      <%= r.input :answer33, label: '问题33',input_html: { class: "form-control"} %>
      <%= r.input :answer34, label: '问题34',input_html: { class: "form-control"} %>
      <%= r.input :answer35, label: '问题35',input_html: { class: "form-control"} %>
      <%= r.input :answer36, label: '问题36',input_html: { class: "form-control"} %>
      <%= r.input :answer37, label: '问题37',input_html: { class: "form-control"} %>
      <%= r.input :answer38, label: '问题38',input_html: { class: "form-control"} %>
      <%= r.input :answer39, label: '问题39',input_html: { class: "form-control"} %>
      <%= r.input :answer40, label: '问题40',input_html: { class: "form-control"} %>
      <%= r.input :answer41, label: '问题41',input_html: { class: "form-control"} %>
      <%= r.input :answer42, label: '问题42',input_html: { class: "form-control"} %>
      <%= r.input :answer43, label: '问题43',input_html: { class: "form-control"} %>
      <%= r.input :answer44, label: '问题44',input_html: { class: "form-control"} %>
      <%= r.input :answer45, label: '问题45',input_html: { class: "form-control"} %>
      <%= r.input :answer46, label: '问题46',input_html: { class: "form-control"} %>
      <%= r.input :answer47, label: '问题47',input_html: { class: "form-control"} %>
      <%= r.input :answer48, label: '问题48',input_html: { class: "form-control"} %>
      <%= r.input :answer49, label: '问题49',input_html: { class: "form-control"} %>

  </div>
  <%= r.submit "生成", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>
  <% end %>

</div>