<div class="container">
<div class="form-bootstrapWizard">
	 <ul class="bootstrapWizard form-wizard">
		 <li class="active"><a href=" " data-toggle=" " class=" "> <span class="step">1</span> <span class="title">一句话</span></a></li>
			 <li><a href=" " data-toggle=" " class=" "> <span class="step">2</span> <span class="title">个人简介</span></a></li>
			 <li><a href=" " data-toggle=" " class="active"> <span class="step">3</span> <span class="title">过往经历</span></a></li>
			 <li><a href=" " data-toggle=" "> <span class="step">4</span> <span class="title">为何应聘</span></a></li>
			 <li><a href=" " data-toggle=" "> <span class="step">5</span> <span class="title">为何选你</span></a></li>
			 <li><a href=" " data-toggle=" "> <span class="step">6</span> <span class="title">项目展示</span></a></li>
			 <li><a href=" " data-toggle=" "> <span class="step">7</span> <span class="title">联系资讯</span></a></li>
			 <li><a href=" " data-toggle=" "> <span class="step">8</span> <span class="title">生成简历</span></a></li>
	 </ul>
	 <div class="clearfix"></div><br><br>
</div>
</div>

<div class="container">
	<div class="col-md-12 auto-min-height">

	  <h1>第一步：用一句话形容自己</h1>
		<h2>一句话形容自己“可以带来”“给对方公司的价值”</h2>

	  <%= simple_form_for  [:user, @resume],url: page1_commit_user_resumes_path do |r| %>
			<p><%= r.input :resume_name, label: '简历名称',placeholder: '请给这份简历命名，如“新生大学毕业简历”',input_html: { class: "form-control"} %></p>
			<p><%= r.input :name_resume, label: '你的全名',placeholder: '如果有英文名，可以加在中文名的后面',input_html: { class: "form-control"} %></p>
			<p><%= r.input :one_line_description, label: '用一句话形容自己',placeholder: '你能够给对方公司带来什么样的价值？',input_html: { class: "form-control"} %></p>

		<p>(例如：我是一个擅长解决问题、乐于助人的快速学习者)</p>

	  <%= r.submit "保存并进入下一步", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>
	  <% end %>


	</div>
</div>
