<%= render "common/progress_bar" %>
<div class="container">
	<div class="col-md-12 auto-min-height">

  <h1>第五步：自己对该岗位的竞争优势</h1>
	<h2>相对于其他竞争者，你有什么特殊的优点或突出的经历？</h2>

		<br>
		<p>填写要点：</p>

		<ul>
			<li>年纪：年轻的申请者=“年轻有体力”；年纪偏大的申请者=“个性成熟稳重”</li>
			<li>性格：喜欢学习，不断接触新的知识；性格独立，能够独挡一面；性格随和，能够和不同背景的人团队作战</li>
			<li>经历：曾经从事过相关行业；不同行业培养出的新视角；某个高强度、高压力工作带来的抗压能力和高效率工作习惯</li>
		</ul>

		<p>实例：</p>

		<ul>
			<li>具有较强的独当一面的能力，同时擅长使用各种工具盒手段对现有产品进行改进</li>
			<li>成长速度很快、学习欲望极强，可以快速适应公司的开发需求</li>
			<li>除了程序开发，我还懂得项目管理、Growth Hack，并且拥有扎实的营销技能，可以从不同维度考虑产品开发的方向</li>
		</ul>

<br>
<div class="panel panel-primary">
	<div class="panel-heading">仔细阅读上方文字后，开始填写</div>
		<div class="panel-body">
		<%= simple_form_for  [:user, @resume],url: page5_commit_user_resume_path(@resume),method: :post do |r| %>
			<p>
				<%= r.input :why_employee1, required: true,label: '选择你的原因 1',placeholder: '你的“核心竞争优势”，贯穿之前一句话介绍和个人经历部分的，属于你的个人主题',input_html: { class: "form-control"} %>
			</p>
			<p>
				<%= r.input :why_employee2, required: true, label: '选择你的原因 2',placeholder: '与“经历”密切相关的优势，跟其他申请同样工作的人会有哪些不同？',input_html: { class: "form-control"} %>
			</p>
			<p>
				<%= r.input :why_employee3,required: true, label: '选择你的原因 3',placeholder: '“性格”方面的优势，你比其他人在哪些方面更为突出？',input_html: { class: "form-control"} %>
			</p>
  <%= r.submit "保存并修改上一步", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>
  <%= r.submit "保存", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "保存中..."} %>
	<%= r.submit "保存并进入下一步", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>

	<% end %>

</div>
</div>

	</div>
</div>
