<%= render "common/progress_bar" %>
<div class="container">
	<div class="col-md-12 auto-min-height">

  <h1>第三步：用两段话介绍自己最近2-3年做过的事</h1>

	<br>
		<p>填写要点：</p>

		<ul>
			<li>如果感触社会，就写毕业到求职期间自己学习了什么。</li>
			<li>如果转行，就写为什么想转行，过去的哪些经历对Rails开发有什么帮助。</li>
		</ul>

		<p>实例：<br><br>
			在进入编程行业之前，我在同心行业有着3年的网络设计咨询师经验，曾经带过10人团队，
			经过1.5的时间成功完成对德国电信运营商Deutsche Telecom的网络升级服务交付，
			以及其他数十个面向全球各个运营商的服务交付/咨询项目。这段经历让我懂得快速学习、勇于承担、
			乐于分享和善于沟通是成为一名优秀工程师的必备素质。</p>

		<p>由于电信行业发展速度变慢，越发意识到如果继续留在本行业，自己的学习速度会逐渐降低，
			于是决定从事互联网相关的行业。在于合作伙伴创业的几个月中，我实现了从零基础到把App上架到
			苹果App Store，经历了从一个简单的想法，到学习Xcode/Swfit开发基础，再到搭建应用基本框架、
			UI/UX设计、网络交互、数据库设计，和App审核并上架这一整套流程。由于在App开发过程中对后端运作原理
			兴趣越来越浓，希望找到一个合适的技术栈实现自己对全栈技能的不全，在加上机缘巧合，我有幸
			参加了Ruby on Rails界世界级教练Xdite在北京开设的线下课程，获得了超过预期的回报：
			除了使用Ruby on Rails快速开发之外，还有关于项目敏捷管理、User Story、Growth Hacking、
			团队协作、Onboarding、代码及网站性能优化和SEO等等技术之外的高级技能。</p>

<br>
<div class="panel panel-primary">
	<div class="panel-heading">仔细阅读上方文字后，开始填写</div>
		<div class="panel-body">

  <%= simple_form_for  [:user, @resume],url: page3_commit_user_resume_path(@resume),method: :post do |r| %>


  <p>
    <%= r.input :past_description1, as: :text, required: true, label: '第一自然段',placeholder: '过去做的哪些事对你的编程开发技能有所帮助？',input_html: { class: "form-control"} %>
  </p>
  <p>
    <%= r.input :past_description2, as: :text, required: true, label: '第二自然段',placeholder: '业余时间都学习哪些知识技能，看什么样的书籍，follow什么样的博客？',input_html: { class: "form-control"} %>
  </p>


  <%= r.submit "保存并修改上一步", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>
  <%= r.submit "保存", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "保存中..."} %>
	<%= r.submit "保存并进入下一步", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>
	<% end %>

</div>
</div>
	</div>
</div>
