<%= render "common/progress_bar" %>
<div class="container">
	<div class="col-md-12 auto-min-height">

  <h1>第四步：为什么想应征这份工作</h1>
	<h2>用一段话表达你为什么想要应征这份工作，最好透露出你对该公司有一定的研究</h2>

	<br>
	<p>填写要点：</p>

	<ul>
		<li>不要没研究，就跑去面试</li>
		<li>面试头三间选择“不是最想去的公司”，当做练兵</li>
		<li>最想去的三件公司放在最后，好好研究好好写</li>
		<li>可以在表现不理想的面试最后，问一下自己有没有需要增强的地方</li>
	</ul>
	<br>

	<p>实例：<br><br>
		作为 Ruby Conf China 的赞助商，相信贵公司是一家优秀的公司，原因有二：
		1. 愿意回报技术社区,促进行业技术交流与发展; 2. 愿意贡献公司的社会价值。区块链技术目前虽然有被低估的可能，
		但在无可否认的是未来它将持续影响并深刻改 变我们的生活场景。贵公司为推动国内区块链行业发展做出了很多探索和尝试，
		这种深刻洞见和实干精神深深的吸引着我，所以我非常希望能加入贵公司，用自己的 Rails 、
		Growth Hack 等技术为公司贡献自己的力量，推进区块链的发展。
	</p>

	<div class="panel panel-primary">
		<div class="panel-heading">仔细阅读上方文字后，开始填写</div>
			<div class="panel-body">

  <%= simple_form_for  [:user, @resume],url: page4_commit_user_resume_path(@resume),method: :post do |r| %>


  <p>
    <%= r.input :why_employer, as: :text, required: true,label: '为什么选择应聘这家公司？',placeholder: '显示出你对公司有一定了解，会能够从众多简历中脱引而出',input_html: { class: "form-control"} %>
  </p>


  <%= r.submit "保存并修改上一步", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>
	<%= r.submit "保存", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "保存中..."} %>
	<%= r.submit "保存并进入下一步", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>

	<% end %>

</div>
</div>
	</div>
</div>
