<div class="col-md-12">




  <!-- 一个resume模型 -->
  <% @resumes.each do |resume| %>
  <div class="row">



  <!-- template_v1 -->

  <h3>你好，我是<%= resume.answer00 %></h3>

  <p>
  一个具有<%= resume.answer01 %>，
  充满<%= resume.answer02 %>，
  并善于<%= resume.answer03 %>
  的<%= resume.answer04 %>。
  </p>


  <h3>关于我</h3>
  <p>
    <%= resume.answer05 %>
    <%= resume.answer06 %>
    <%= resume.answer07 %>
    专业毕业后，我做为
    <%= resume.answer08 %>
    的
    <%= resume.answer09 %>
    从业
    <%= resume.answer10 %>
    年，负责
    <%= resume.answer11 %>
    。面临
    <%= resume.answer12 %>
    ，我主动
    <%= resume.answer13 %>
    ，
    <%= resume.answer14 %>
    ，使公司的
    <%= resume.answer15 %>
    从
    <%= resume.answer16 %>
    达到
    <%= resume.answer17 %>
    ，带来了
    <%= resume.answer18 %>
    。
  </p>

  <p>
    工作之余，我也在不断学习新的技能，利用业余时间学习了
    <%= resume.answer19 %>
    和
    <%= resume.answer20 %>
    。为了更好的提升我的
    <%= resume.answer21 %>
    ，我于
    <%= resume.answer22 %>
    开始
    <%= resume.answer23 %>
    ，在
    <%= resume.answer24 %>
    内完成了
    <%= resume.answer25 %>
    。同时还
    <%= resume.answer26 %>
    。
  </p>



  <p>
  在
  <%= resume.answer27 %>
  中，良好的
  <%= resume.answer28 %>
  让我建立了
  <%= resume.answer29 %>
  。繁琐并具有挑战的
  <%= resume.answer30 %>
  工作也让我
  <%= resume.answer31 %>
  。我相信我的加入能为贵公司带来
  <%= resume.answer32 %>
  ，以及
  <%= resume.answer33 %>
  。
  </p>



  <h3>我做过什么</h3>

  <h5>
  <%= resume.answer34 %>
  <%= resume.answer35 %>
  </h5>
  <p>
    作为
    <%= resume.answer36 %>
    ，耗时
    <%= resume.answer37 %>
    ，
    <%= resume.answer38 %>
  </p>

  <p>
  <%= resume.answer39 %>

  </p>



  <h5>
  *
  <%= resume.answer40 %>

  <%= resume.answer41 %>
  </h5>

  <p>
    作为
    <%= resume.answer42 %>
    ，耗时
    <%= resume.answer43 %>
    ，
    <%= resume.answer44 %>
  </p>

  <p>
  <%= resume.answer45 %>
  </p>

  <p>
  *
  <%= resume.answer46 %>
  <%= resume.answer47 %>
  </p>

  <p>
  作为
  <%= resume.answer48 %>
  ，耗时
  <%= resume.answer49 %>
  ，
  <%= resume.answer50 %>

  </p>

  <p>
  <%= resume.answer51 %>
  </p>


  <h3>
    为什么你要选择我
  </h3>

  <p>
    -
    <%= resume.answer52 %>
  </p>
  <p>
    - <%= resume.answer53 %>

  </p>
  <p>
    -
    <%= resume.answer54 %>
  </p>



  <h3>
    请联系我
  </h3>

  <p>
  我是
  <%= resume.answer55 %>
  ，期待您的回复。
  </p>

  <p>
  手机：
  <%= resume.answer56 %>
  </p>

  <p>
  E-mail:
  <%= resume.answer57 %>

  </p>

  <p>
  我的GitHub:
  <%= resume.answer58 %>
  </p>

  <p>
  我的博客:
  <%= resume.answer59 %>
  </p>







  </div>
  <hr>

  <p>一个简历结束</p>
  <hr>
  <% end %>


</div>
