  <div class="wrap-main">
        <div class="row-wrp">
          <div class="container">

              <button data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span id="open-nav" class="open-nav"><i class="fa fa-bars"></i> Menu</span><span id="close-nav" class="hidden-xs"><i class="fa fa-times"></i> Close</span></button>
            <a href="/" class="navbar-brand"><img src="https://ooo.0o0.ooo/2016/12/08/584900550f9c8.png
" width="150"  alt="LiveCareer" title="LiveCareer"></a>


            <div class="navbar-collapse collapse pull-right">
              <div class="row">
              <br>
              </div>
              <ul class="nav navbar-nav navbar-right nav-pills">
                <% if !current_user %>
                  <li><%#= link_to("注册", new_user_registration_path) %> </li>
                  <li><%#= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                       <li><%= link_to "我的简历", user_resumes_path %></li>
             					 <% if current_user.admin? %>
                      	<li><%= link_to("Admin 选单", admin_users_path ) %></li>
                       <% end %>
                       <li class="divider"> </li>
                       <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!--end lc-block-->
    </div>
    <!--end hdr-wrp-->


<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">ResumeHack </a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">


               <% if !current_user %>
                  <li><%= link_to("注册", new_user_registration_path) %> </li>
                  <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                       <li><%= link_to "我的简历", user_resumes_path %></li>
                       <li class="divider"> </li>
                       <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
                <% end %>

            </ul>
        </div>

    </div>

</nav> -->
