<!DOCTYPE html>
<html>
<head>
 <title>Resume Hack 后台</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
   <%= render "common/navbar" %>
   <h3 style="margin-left:240px;margin-bottom:50px;"><%= link_to("ResumeHack 后台",admin_users_path) %></h3>
    <%= yield %>
</body>
</html>
